body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    background: linear-gradient(to right, #f12711, #f5af19);
    height: 100vh;
    justify-content: space-around;
    align-items: center;

}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-item {
    width: 250px;
    height: 250px;
    transition: transform 0.2s;
    border-radius: 15px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Facebook_logo_2014.A.gif/250px-Facebook_logo_2014.A.gif') no-repeat;

}